[submodule "manifest-local"]
	path = manifest-local
	url = https://github.com/JosiahSiegel/manifest-local.git
[submodule "provider-proxy"]
	path = provider-proxy
	url = https://github.com/JosiahSiegel/provider-proxy.git
